/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f9f5f6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Navbar */

.navbar {
  background-color: #f684ae;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: semi-bold;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #f76ea0;
  border-radius: 10px;
}

/* form styles */

.form {
  width: 23rem;
  background-color: #f2bed180;
  padding: 4rem 2.5rem;
  border-radius: 10px;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  margin-top: 5p;
  display: block;
  border: 1px solid #f2bed180;
  border-radius: 10px;
}

input:focus {
  outline: 1px solid #f76ea0;
}

label {
  font-weight: semi-bold;
  font-size: smaller;
  color: #1a1a1a;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #f76ea0;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}

button:hover {
  background-color: #f79cbd;
}

button:focus {
  outline: 2px solid #f76ea0;
}

/* toggle switch */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 20px;

  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #cecece90;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch
  input[type="checkbox"]:checked
  + .toggle-switch-background
  .toggle-switch-handle {
  transform: translateX(25px);
}

/* Student Page */

.student {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fb3c82;
  text-align: center;
  display: block;
}

.table {
  margin-top: 2rem;
}

.table h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  display: block;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.table table thead tr {
  text-align: left;
  background-color: #fb3c82;
}

.table table thead tr th {
  font-weight: bold;
  padding: 1rem;
  color: #fff;
}

.table table tbody tr {
  border-bottom: 1px solid #f76ea0;
}

.table table tbody tr td {
  padding: 1rem;
}

.table table tbody tr:hover {
  background-color: #f76ea080;
}

.table table tbody tr td:hover {
  background-color: #f76ea080;
}
